//mixins
@mixin quickSand{font-family: 'Quicksand', sans-serif;}
@mixin poppins{font-family: 'Poppins', sans-serif;}

:root { font-size: 10px; }
html{
  font-size: 1.0rem;
}

html,body{
  height: 100%;
background-image: url('./images/one_pager.jpg');
color: white;
@include quickSand;
}

.negative_margin{
  margin: 0 -15px;
}

.draw_content_container{

}
