@import "../../settings";

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1;
  color: #000000;
}

.popupInner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  padding: 15px;
  background: white;
  margin: 0 auto;
}

.uniqueCodePopUp {
  text-align: center;
  font-weight: bold;
}

.codeTransform {
  text-transform: uppercase;
}