/*.winningId {*/
  /*span {*/
    /*text-transform: uppercase;*/
  /*}*/
/*}*/

body {
 color: red;
}

.draw_content_container {
 padding: 40px 55px 0 55px;
}

.errorNumber {
 background-color: red;
}
.tempButton {
 margin: 15px 0 0 0;
}

.form-row-edit {
 margin-left: 0;
 margin-right: 0;
 display: flex;
}

.network-wrapper {
 flex-grow: 1;
 padding-right: 24px;
}

.number-wrapper {
 flex-grow: 1;
}

.custom-button {
 width: 100%;
 font-size: 12px;
 padding: .75rem;
}

.formInput {
 padding: .75rem 0.75rem;
 font-size: 12.5px;
}

.formWrapper {
 display:flex;
 justify-content:center;
 align-items:center;
}

.dropDown-custom {
 padding: .75rem 0.75rem;
 font-size: 12.5px;
 border-radius: 2.125px;
}
