@import "../../settings";
@import "../../mixins";

.errorEmail {
 color: red;
 margin-bottom: 5px;
 font-size: 15px;
 float: right;
}

.errorOutline {
 border: 2px red solid !important;
}

.tempButton {
 margin: 15px 0 0 0;
}

.form-row-edit {
 margin-left: 0;
 margin-right: 0;
 display: block;
}

.popUpHeaderText{
 text-align: center;
}

.uniqueCodePopUpText {
 text-align: center;
}

.disclaimerText {
 margin-top: 25px;
 text-align: center;
 font-size: 16px;
}

.uniqueCodePopUpDisclaimer{
 font-size: 10px;
}

.uniqueCodePopUpDisclaimer{
 font-size: 12px;
}

.custom-button {
 width: 100%;
 font-size: 12px;
 padding: .75rem;
}

.formInput {
 padding: .75rem 0.75rem;
 font-size: 12.5px;
}

.dropDown-custom {
 padding: .75rem 0.75rem;
 font-size: 12.5px;
 border-radius: 2.125px;
 width: 100%;
}

#intro_tease{
  font-size: 2.5rem;
  text-align: center;
  @include quickSand;
}

.main_form{
 @include form_width;
 padding: 7rem 2rem 5.6rem;
  .form-group{
    @include quickSand;
    @include smart_row;

    &.form-row-edit{
      height: auto;

      >div{
        position: relative;
      }

      .network-wrapper label{
        position: static;
        font-size: 1.7rem;
        color: #5a5656;
        padding: 0;
        height: auto;
      }

      .number-wrapper{
        margin-bottom: 1rem;
      }

      .network-wrapper select{
        @include input_field;
        font-size: 2.1rem;
      }

      .network-wrapper select,
      .number-wrapper{
        height: 5rem;
      }
    }
  }
}

@include breakpoint(phablet) {
 .main_form {
  padding: 7rem 6rem 5.6rem;
 }
}

