@import "../../mixins";

.footerLinkWrapper {
	font-size: 12px;
	margin:4rem 0 25px 0;

 	ul{
		padding: 0;
		text-align: center;
		display: block;
		li{
			display: inline-block;
		  margin: 0 2rem;
		}
 	}
}
.socialLinks {
  text-align: center;
}

.disclaimerText {
 margin-top: 25px;
 text-align: center;
 font-size: 16px;
}

ul {
 display: flex;
 justify-content: space-between;
 list-style-type: none;
 font-size: 2em;
 margin: 0 auto;
}

li {
 flex-grow: 1;
}

a {
 color: #fff;
 text-decoration: none;
 transition: all .5s ease-in-out;
}
[title="Twitter"]:hover{
 color: rgb(85,172,238);
}
[title="Instagram"]:hover{
 color: #e4405f;
}
[title="Envelope"]:hover{
 color: rgb(0,119,181);
}
[title="Facebook"]:hover{
color: rgb(59, 89, 153);
}
[title="Telegram"]:hover{
 color: rgb(230,182,10);
}
[center]{
 text-align: center;
}

#footer_text{
	font-size: 1.5rem;
	text-align: center;
	max-width: 69rem;
	padding: 0 1rem;
	margin: 3rem auto 0;
}

@include breakpoint(tablet) {
 ul {
  width: 60%;
 }
}

@include breakpoint(laptop) {
 ul {
  width: 40%;
 }
}

// mobile
@media only screen and (max-width: 430px) {
	.footerLinkWrapper{
		margin: 0 auto 9rem;
	}
}
