@import "../../mixins";

.footerLinkWrapper {
 font-size: 12px;
 margin: 25px 0 25px 0px;
}
.socialLinks {
  text-align: center;
}

.disclaimerText {
 margin-top: 25px;
 text-align: center;
 font-size: 16px;
}

ul {
 display: flex;
 justify-content: space-between;
 list-style-type: none;
 font-size: 2em;
 margin: 0 auto;
}

li {
 flex-grow: 1;
}

a {
 color: #fff;
 text-decoration: none;
 transition: all .5s ease-in-out;
}
[title="Twitter"]:hover{
 color: rgb(85,172,238);
}
[title="Instagram"]:hover{
 color: rgb(124,86,65);
}
[title="Envelope"]:hover{
 color: rgb(0,119,181);
}
[title="Resume"]:hover{
 color: rgb(178,36,52);
}
[title="Contact"]:hover{
 color: rgb(230,182,10);
}
[center]{
 text-align: center;
}

@include breakpoint(tablet) {
 ul {
  width: 60%;
 }
}

@include breakpoint(laptop) {
 ul {
  width: 40%;
 }
}