@import "../../settings";

.winning_validation {
  text-align: center;
}

a,a:hover{
  color: white;
}

button {
  width: auto;
}

.validate_form {

 margin: 20px auto 0;
 max-width: 62rem;
 padding: 2.5rem 2.5rem 2.5rem 2.5rem;
 background: white;

    .form-group{
      @include quickSand;
      @include smart_row;
    }
}

.codeValidate {
  width: 100%;
  text-align: center;
}

.outline {
  border: 2px red solid;
  width: 100%;
  text-align: center;
}

.noError {
  border: none;
  width: 100%;
  text-align: center;
}



