@import "../../settings";

.winning_validation{
  text-align: center;
  .user_form{
    @include form_width;
  }

  p{
    font-size: 2.5rem;
    @include quickSand;

    a{
      color: white;
      margin: 0 1.5rem;
    }
  }

  .form-group{
    @include smart_row;
    @include quickSand;
  }
}
